<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>

<div class="container">
    <h2>Login</h2>

    <label>Email</label>
    <input type="email" placeholder="Enter Email">

    <label>Password</label>
    <input type="password" placeholder="Enter Password">

    <button class="primary-btn">Login</button>

    <p>Already Have an Account</p>

    <button class="secondary-btn" onclick="window.location.href='register.html'">
        Sign Up
    </button>
</div>

</body>
</html>