<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>

<div class="container">
    <h2>Register</h2>

    <label>Name</label>
    <input type="text" placeholder="Enter Name">

    <label>Email</label>
    <input type="email" placeholder="Enter Email">

    <label>Password</label>
    <input type="password" placeholder="Enter Password">

    <button class="primary-btn">Register</button>

    <p>Already Have an Account</p>

    <button class="secondary-btn" onclick="window.location.href='login.html'">
        Login
    </button>
</div>

</body>
</html>