MONGODB_URI=mongodb://<username>:<password>@<host1>:27017,<host2>:27017,<host3>:27017/snapdeal?ssl=true&replicaSet=<replica-set>&authSource=admin&appName=<app-name>
MONGODB_DB_NAME=snapdeal
PORT=3001
IMAGE_BASE_URL=http://localhost:3001